@import '~node_modules/modern-normalize/modern-normalize.css';

.section__div{
    display: flex;
    background-color: rgb(113, 152, 236);
    height: 65px;
    justify-content: space-around;
    align-items: center;
}
.form__input{
    display: block;
    height: 40px;
    width: 400px;
    border-radius: 6px;
    border-color: #aaa;
    // border:none;
    padding-left: 7px;
}
.search-form{
    position: relative;
}
.form__icon{
   &:hover{
       font-weight: bold;
   }
}
.search__button{
    position: absolute;
top: 2px;
    right: 2px;
    height: 36px;
    border:none;
    width: 30px;
    border-radius: 0px 6px 6px 0px;
}